<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<springProperty scope="" name="LEVEL" source="logging.level.root" defaultValue="info"/>
	<property name="dateTimePattern" value="yyyy-MM-dd'T'HH:mm:ss.SSSZ" />
	<property name="logPattern" value="%d{${dateTimePattern}, GMT-3} %-4r [%t] %5p %c{1} - %m - traceId=%X{traceId}%n
		dd.trace_id=%X{dd.trace_id} dd.span_id=%X{dd.span_id}%n"/>
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
			<jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
			</jsonFormatter>
			<timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
			<appendLineSeparator>true</appendLineSeparator>
		</layout>
	</appender>
	<root level="${LEVEL}">
		<appender-ref ref="Console"/>
	</root>
</configuration>